/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : Leurot Théana
 * Date : 03.02.2026

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Condensed";
    font-size: 1rem;
    line-height: 1.6;
    color: #353332; /* Ajutez avec votre couleur de texte principale */
    background-image: url(https://images.pexels.com/photos/7952505/pexels-photo-7952505.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: left;
    margin: 1rem;
    margin: 1rem auto;
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    border: #353332 solid 5px;
    border-radius: 1%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 1rem;
}

section {
    padding: 5%;
    border-top: #353332 solid 1px;
    margin: 0.5rem;
}

h2 {
    margin: 0, 1rem;
}

h3 {
    font-weight: 600;
}

ul {
    list-style: none;
}

.prix {
    float: right;
    text-align: right;
    margin: 5px;
}

.badge {
    float: right;
    margin-right: 5px;
    color: rgb(252, 240, 216);
    background-color: #353332;
    padding: 5px;
    border-radius: 10%;
}